<% include partials/header.ejs %>

<div class="container">
	
<h1>Todo List</h1>

<p>
	{{"Tom is " + " getting a little tired of talking"}}
</p>
	
</div>


<% include partials/boot.ejs %>
<% include partials/nglib.ejs %>
<% include partials/footer.ejs %>